<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Burger Heaven!</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <h1>Welcome to Burger Heaven!</h1>
      <p>
        The place to chill and have shitty, expensive burgers.
      </p>
      <section>
        <h4>What overpriced piece of shit do you want to order?</h4>
        <p>
          In case you're redorted, this is where you click the picture of the burger you want to order:
        </p>
      </section>
      <section>
        <h4>Where do you want the shit delivered?</h4>
        <p>
          Please enter all your information, so that i can sell it to a marketing company:
        </p>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
